/ClashRoyaleforma2/nbproject/private/
/ClashRoyaleforma2/dist/
/ClashRoyaleforma2/build/
/SwitchDiasSemana/nbproject/private/
/SwitchDiasSemana/build/
/SwitchDiasSemana/dist/
/ExerciciMesos/nbproject/private/
/ExerciciMesos/build/
/ExerciciMesos/dist/
